* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #388E3C;
  font-family: 'Ubuntu', sans-serif;
}
header nav {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  font-size: 3.5rem;
  color: #C8E6C9;
}
header nav .fa-bars {
font-size: 25px;
color: #C8E6C9;
}
.container {
  background-color: #CDDC39;
  margin-bottom: 10px;
  padding: 10px 20px;
}
h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #fff;
  border-bottom: 1px solid #388E3C;
}
h3 {
  padding: 10px 0;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
h4 {
  font-size: 1.4rem;
  color: #fff;
}

.container-table {
  width: 100%;
  height: auto;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-table {
  width: 90%;
}
.title-table h2 {
  border-bottom: 1px solid #CDDC39;
}
.table {
  width: 90%;
  background-color: #CDDC39;
}
thead {
  background-color: #9daa23;
  height: 30px;
  border-bottom: 1px solid #388E3C;
}
th {
  font-size: 1.8rem;
  color: #fff;
  text-align: inherit;
}
td {
  font-size: 1.5rem;
  color: #fff;
}
.file-dark {
  background-color: #9daa23;
}



.container-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.container-cripto .title-cripto {
  margin-bottom: 0px;
  padding: 10px;
  background-color: #388E3C;
  text-align: center;
}
.exchange-cripto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.exchange-cripto .exchange {
  border: 1px solid #388E3C;
}
.content {
  background-color: #388E3C;
  padding-left: 10px;
  height: 40px;
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}